
header {
    height: 100px;
}
.logo {
    font-size: 50px;
    text-align: center;
    vertical-align: 50%;
}

nav {
    height: 50px;
}

.nav-item .nev-link:hover {
    color: white !important;
}

.contents {
    height: 300px;
}
footer {
    height: 100px;
}