#wrap {
    width: 1500px;
    background-color: yellow;
}


.flex {
    display: flex;
}

.test {
    width: 200px;
    height: 200px;
    background-color: brown;
}
.test1 {
    width: 1300px;
    height: 200px;
    background-color: blanchedalmond;
}


.test2{
    width: 1500px;
    height: 700px;
    background-color: palevioletred
    ;
}

.test3 {
    width: 1500px;
    height: 100px;
    background-color: cadetblue;
}
