.nemo {
    width: 100px;
    height: 100px;
    background-color: black;
    
}


.blue2 {
    background-color: blue;
    width: 100px;
    height: 100px;
}

.red2 {
    background-color: red;
    width: 100px;
    height: 100px;
}


.green2 {
    background-color: green;
    width: 100px;
    height: 100px;
}


.jaju2{
    background-color: darkorange;
    width: 100px;
    height: 100px;
}